<footer>
    {% if page.lang == "lv" %}
    <a href="/lv/" class="footer-logo"><img class="footer-logo-img" src="../assets/images/Logo.png"></a>
    {% else %}
    <a href="/en/" class="footer-logo"><img class="footer-logo-img" src="../assets/images/Logo.png"></a>
    {% endif %}
    <div class="footer-info-container">
        <div class="address-container">
            <p class="footer-heading">Address</p>
            <p class="footer-text">Vienibas gatve 109</p>
            <p class="footer-text">Riga, Latvija</p>
            <p class="footer-text">LV-1058</p>
        </div>
        <div class="social-media-container">
            <p class="footer-heading">Social</p>
            <button class="social-media-button"><p class="footer-text">LinkedIn</p></button>
        </div>
        <div class="contact-info">
            <p class="footer-heading">Contact</p>
            <p class="footer-text">contact@5w.lv</p>
            <p class="footer-text">+371 27 457 071</p>
        </div>
    </div>
    <img class="footer-image" loading="lazy" src="../assets/images/Footer.png">
</footer>