<footer>
    <img class="footer-logo" src="../assets/images/Logo.png">
    <div class="footer-info-container">
        <div class="address-container">
            <p class="footer-heading">Address</p>
            <p class="footer-text">Vienibas gatve 109</p>
            <p class="footer-text">Riga, Latvija</p>
            <p class="footer-text">LV-1058</p>
        </div>
        <div class="social-media-container">
            <p class="footer-heading">Social</p>
            <button class="social-media-button"><p class="footer-text">LinkedIn</p></button>
        </div>
        <div class="contact-info">
            <p class="footer-heading">Contact</p>
            <p class="footer-text">info@5w.com</p>
            <p class="footer-text">+37111111111</p>
        </div>
    </div>
    <img class="footer-image" loading="lazy" src="../assets/images/Footer.png">
</footer>