@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}
body {
    margin: 0;
}
p{
    margin: 0;
}


html:not(.scroll-container),
body:not(.scroll-container) {
  scrollbar-width:0; /* For Firefox */
  
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
html:not(.scroll-container)::-webkit-scrollbar,
body:not(.scroll-container)::-webkit-scrollbar {
  width: 6px; /* General scrollbar width */
}

html:not(.scroll-container)::-webkit-scrollbar-track,
body:not(.scroll-container)::-webkit-scrollbar-track {
  background:transparent; /* General track color */
  border-radius: 10px; /* General rounded corners */
}

html:not(.scroll-container)::-webkit-scrollbar-thumb,
body:not(.scroll-container)::-webkit-scrollbar-thumb {
  background: #aaa; /* General thumb color */
  border-radius: 10px; /* General rounded corners */
}

html:not(.scroll-container)::-webkit-scrollbar-thumb:hover,
body:not(.scroll-container)::-webkit-scrollbar-thumb:hover {
  background: #888; /* General hover thumb color */
}