@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}
body {
    margin: 0;
}
h3{

}
