<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/aboutus.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/32х32.png">
    
    <link rel="icon" href="../assets/images/16х16.png" sizes="16x16" type="image/png">
    <!-- Larger favicon for high-resolution displays (32x32px) -->
    <link rel="icon" href="../assets/images/32х32.png" sizes="32x32" type="image/png">
    <!-- Optional: 48x48px favicon for some browsers or desktop apps -->
    <link rel="icon" href="../assets/images/48х48.png" sizes="48x48" type="image/png">
</head>
<body>
    {% include header.html %}  <!-- Reusable Header -->
    <div>
        <div class="aboutus-first-container">
            <h1>{{ site.data.translations[page.lang].aboutus_header}}</h1>
            <p class="regular-text">{{ site.data.translations[page.lang].aboutus_first_text}}</p>
        </div>
        <img class="aboutus-first-image" src="../assets/images/Aboutus_main.png">
        <div class="aboutus-second-container">
            <h1 style="margin: 0;">{{ site.data.translations[page.lang].aboutus_second_header}}</h1>
            <p class="regular-text">{{ site.data.translations[page.lang].aboutus_second_text}}</p>
        </div>
        <div class="aboutus-third-block-container">
            <h1 style="margin: 0;">{{ site.data.translations[page.lang].aboutus_third_header}}</h1>
            <p class="regular-text aboutus-third-block-text">{{ site.data.translations[page.lang].aboutus_third_text}}</p>
            <div class="approach-bloks-container">
                <div class="approach-block-container">
                    <div class="approach-block-content">
                        <p class="approach-block-number">01</p>
                        <p class="approach-block-header">{{ site.data.translations[page.lang].approach_block_header_01}}</p>
                        <p class="regular-text approach-block-text">{{ site.data.translations[page.lang].approach_block_text_01}}</p>
                    </div>
                </div>
                <div class="approach-block-container">
                    <div class="approach-block-content">
                        <p class="approach-block-number">02</p>
                        <p class="approach-block-header">{{ site.data.translations[page.lang].approach_block_header_02}}</p>
                        <p class="regular-text approach-block-text">{{ site.data.translations[page.lang].approach_block_text_02}}</p>
                    </div>
                </div>
                <div class="approach-block-container">
                    <div class="approach-block-content">
                        <p class="approach-block-number">03</p>
                        <p class="approach-block-header">{{ site.data.translations[page.lang].approach_block_header_03}}</p>
                        <p class="regular-text approach-block-text">{{ site.data.translations[page.lang].approach_block_text_03}}</p>
                    </div>
                </div>
                <div class="approach-block-container">
                    <div class="approach-block-content">
                        <p class="approach-block-number">04</p>
                        <p class="approach-block-header">{{ site.data.translations[page.lang].approach_block_header_04}}</p>
                        <p class="regular-text approach-block-text">{{ site.data.translations[page.lang].approach_block_text_04}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutus-forth-block-container">
            <h1 class="aboutus-forth-block-header">{{ site.data.translations[page.lang].aboutus_forth_block_header}}</h1>
            <div class="aboutus-forth-block-content">
                <div class="aboutus-forth-block-left-side-container">
                    <div class="forth-block-content-container" >
                        <p class="forth-block-content-header">{{ site.data.translations[page.lang].forth_block_content_header_01}}</p>
                        <p class="regular-text forth-block-content-text">{{ site.data.translations[page.lang].forth_block_content_text_01}}</p>
                    </div>
                    <div class="forth-block-content-container" >
                        <p class="forth-block-content-header">{{ site.data.translations[page.lang].forth_block_content_header_02}}</p>
                        <p class="regular-text forth-block-content-text">{{ site.data.translations[page.lang].forth_block_content_text_02}}</p>
                    </div>
                    <div class="forth-block-content-container" >
                        <p class="forth-block-content-header">{{ site.data.translations[page.lang].forth_block_content_header_03}}</p>
                        <p class="regular-text forth-block-content-text">{{ site.data.translations[page.lang].forth_block_content_text_03}}</p>
                    </div>
                    <div class="forth-block-content-container" >
                        <p class="forth-block-content-header">{{ site.data.translations[page.lang].forth_block_content_header_04}}</p>
                        <p class="regular-text forth-block-content-text">{{ site.data.translations[page.lang].forth_block_content_text_04}}</p>
                    </div>
                    <div class="forth-block-content-container forth-block-content-container-last" >
                        <p class="forth-block-content-header">{{ site.data.translations[page.lang].forth_block_content_header_05}}</p>
                        <p class="regular-text forth-block-content-text">{{ site.data.translations[page.lang].forth_block_content_text_05}}</p>
                    </div>
                </div>
                <div class="aboutus-forth-block-image-container">
                    <img class="aboutus-forth-block-image" src="../assets/images/AboutUs_Forth_Block.png">
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}  <!-- Reusable Footer -->
    {% include loader.html %}
</body>
<script type="text/javascript" src="../assets/scripts/languageButton.js"></script>
</html>