<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/32х32.png">

    <link rel="icon" href="../assets/images/16х16.png" sizes="16x16" type="image/png">
    <!-- Larger favicon for high-resolution displays (32x32px) -->
    <link rel="icon" href="../assets/images/32х32.png" sizes="32x32" type="image/png">
    <!-- Optional: 48x48px favicon for some browsers or desktop apps -->
    <link rel="icon" href="../assets/images/48х48.png" sizes="48x48" type="image/png">
</head>
<body>
    {% include header.html %}  <!-- Reusable Header -->

    <div>
        <h1 class="contact-us-main-header">{{ site.data.translations[page.lang].contact_us_header }}</h1>
        <div class="contact-us-first-block">
            <div class="first-block-image-container">
                <img class="first-block-image" src="../assets/images/Contact_Image.png"></img>
            </div>
            <div class="first-block-form-container">
                <p class="first-block-form-header">{{ site.data.translations[page.lang].first-block-form-header }}</p>
                <label for="name">{{ site.data.translations[page.lang].name }}</label>
                <input type="text" id="name" name="firstname" placeholder="your name">
                <label for="email">{{ site.data.translations[page.lang].email }}</label>
                <input type="text" id="email" name="email" placeholder="example@mail.com">
                <label for="message">{{ site.data.translations[page.lang].message }}</label>
                <textarea class="message-input-field" type="text" id="message" name="message" placeholder="your text"></textarea>
                <button  class="message-button" ><p class="message-button-text">{{ site.data.translations[page.lang].send_message }}</p><img class="angled-arrow" ></button>
            </div>
        </div>
        <div class="contact-us-second-block">
            <div class="second-block-first-section-container">
                <p class="second-block-header">{{ site.data.translations[page.lang].contact_us_second_block_first_section_header }}</p>
                <p class="regular-text second-block-text">SIA 5W</p>
                <p class="regular-text gap-needed">Vienibas gatve 109, Riga, LV-1058, Latvija</p>
                <p class="regular-text second-block-text">9:00 - 17:00</p>
                <p class="regular-text">{{ site.data.translations[page.lang].contact_us_second_block_first_section_text02 }}</p>
            </div>
            <div class="second-block-second-section-container">
                <p class="second-block-header">{{ site.data.translations[page.lang].contact_us_second_block_second_section_header }}</p>
                <p class="regular-text second-block-text">+371 27 457 071</p>
                <p class="regular-text">hello5w@lv.com</p>
            </div>
            <div class="second-block-third-section-container">
                <p class="second-block-header">{{ site.data.translations[page.lang].contact_us_second_block_third_section_header }}</p>
                <a class="regular-text link-button" >LinkedIn</a>
            </div>
        </div>
    </div>

    {% include footer.html %}  <!-- Reusable Footer -->
    {% include loader.html %}
</body>
<script type="text/javascript" src="../assets/scripts/languageButton.js"></script>
</html>