<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/home.css">
</head>
<body>

    {% include header.html %}  <!-- Reusable Header -->

    <div class="main">
        <h1 class="main-header">
            <span class="header-first-line">WHERE FINANCE</span>
            <span class="header-second-line">MEETS INNOVATION</span>
        </h1>
        <div class="explore">
            <video class="first-shot-video" autoplay muted loop playsinline>
                <source src="../assets/video/first-shot.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="overlay-box">
                <p class="regular-text overlay-box-text">Unlock growth and efficiency with our comprehensive suite of financial services—Budgeting, Planning, Consolidation, Valuation, and Project Management. Designed to empower your decision-making, our solutions help you stay ahead in a competitive market.</p>
                <button  class="overlay-button"><p class="overlay-button-text">Explore Our Solutions</p> <img class="angled-arrow" src="../assets/images/Angled_Arrow.svg"></button>
            </div>
        </div>
        <div class="about-us">
            <div class="about-us-card-container">
                <div class="about-us-card about-us-left-card"></div>
                <div class="about-us-card about-us-right-card"></div>
            </div>
            <div class="about-us-text-container">
                <h1>ABOUT US</h1>
                <p class="regular-text about-us-text">With years of experience in financial consulting, we specialize in delivering innovative solutions that simplify complex processes. Our team is dedicated to helping businesses achieve their financial goals.</p>
                <div class="about-us-button-container">
                    <a class="about-us-button" href="/en/about-us/">Learn More About Us</a>
                    <img class="blue-arrow" src="../assets/images/Blue_Arrow.svg">
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}  <!-- Reusable Footer -->

</body>
<script type="text/javascript" src="../assets/scripts/languageButton.js"></script>
</html>