<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/products.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/32х32.png">
    
    <link rel="icon" href="../assets/images/16х16.png" sizes="16x16" type="image/png">
    <!-- Larger favicon for high-resolution displays (32x32px) -->
    <link rel="icon" href="../assets/images/32х32.png" sizes="32x32" type="image/png">
    <!-- Optional: 48x48px favicon for some browsers or desktop apps -->
    <link rel="icon" href="../assets/images/48х48.png" sizes="48x48" type="image/png">
</head>
<body>
    {% include header.html %}  <!-- Reusable Header -->
    <div class="main">
        <h1 class="products-main-header">{{ site.data.translations[page.lang].products_header }}</h1>
        <div class="products-description">
            <div class="products-description-left-container">
                <img class="products-description-image" src="../assets/images/Products_Left_Image.png">
                <div class="products-description-left-container-content">
                    <p class="products-description-content-header">{{ site.data.translations[page.lang].products_description_header }}</p>
                    <p class="products-description-content-text">{{ site.data.translations[page.lang].products_description_text }}</p>
                </div>
            </div>
            <img class="products-description-image" src="../assets/images/Products_Right_Image.png">
        </div>
        <div class="learn-more-container">
            <img class="learn-more-arrow-down" src="../assets/images/Arrow_Down.svg">
            <img class="learn-more-circle" src="../assets/images/Learn_More_Circle.png">
        </div>
    </div>
    {% include footer.html %}  <!-- Reusable Footer -->
    {% include loader.html %}
</body>
<script type="text/javascript" src="../assets/scripts/languageButton.js"></script>
</html>